*{
    margin:0;
    padding:0;
}

:root { 
	--color1: #ffffe0; 
	--color2: #fffffF;
	--font1: "";
	--font2: "";
}

body {
	background-color: black;
}

#main {
	display: none;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.navbar {

		position: fixed;
	height: 50px;
	color: white;
	list-style-type: none;
	padding: 25px;
	z-index: 1;
	height: 100px;
}



.logo {
	width: 140px;
}

.oval {
  width: 100px;
  height: 50px;
  background: none;
  border-radius: 50%;
  border: 1px solid white;
  float: right;
}

.info {
	text-align: center;
    padding-left: 35px;
    line-height: 45px;
    color: white;
}

.info:hover {
	text-decoration: underline;
}

.oval:hover {
	border: 1px solid white;
}

body {
	font-family: "Helvetica", sans-serif;
	color: white;
	font-size: 18px;

}


.section {
	margin:0px;
    height:150vh;
    width:100%;
    float:left;
    padding-top: 8%;
}



h1 {
	font-size: 60px;
	font-weight: 100;
}

.black {
	background-color: black;
	padding-top: 15%;
}

.grad1 {
	background: linear-gradient(black, #2637DE);
}

.blue {
	background-color: #2637DE;
}

.grad2 {
	background: linear-gradient(#2637DE, #65119B);
}

.purple {
	background-color: #65119B;
}

.grad3 {
	background: linear-gradient(#65119B, #FF4100);
}

.red {
	background-color: #FF4100;
}

.grad4 {
	background: linear-gradient(#FF4100, black);
	visibility: none;
}

.button {
	font-size: 35px;
}


.button:hover  {
	color: black:

}

.button.underline:active  {
	color: black:

}

.button.underline  {
	color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    background: none;
    cursor:pointer;
    margin-top: 80px;
    	transition: all .5s ease-in-out;
}

button.underline.close {
    border-bottom: none;
    margin-bottom: 50px;
    border-radius: border-radius: 50%;
    margin-top: 50px;

}


.spin {
	border-radius: border-radius: 50%;
	-webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.spin:active {
	-webkit-transform: rotate(720deg);
    transform: rotate(720deg);
}


.button.colorful {
	position: relative;
	appearance: none;
	background: #FF4100;
	padding: 1em 2em;
	border: none;
	color: white;
	font-size: 1.2em;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	border-radius: 100px;
	width: 100%;
}
	
.button.colorful span {
	position: relative;
	pointer-events: none;
}
	
.button.colorful::before {
--size: 0;
	content: '';
	position: absolute;
	left: var(--x);
	top: var(--y);
	width: var(--size);
	height: var(--size);
	background: radial-gradient(circle closest-side, #2637DE, transparent);
	transform: translate(-50%, -50%);
	transition: width .2s ease, height .2s ease;
}
	
.button.colorful:hover::before {
	--size: 400px;
}

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:18px;
	font-family:"Helvectica", sans-serif;
	outline: 0;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;

}



/* Form styling
-----------------------------------------------*/

.form__options {
	border: none;
	padding: 0;
}


.form__options__wide {
	border: none;
	padding: 0;
	margin:-10px;
	margin-top: 50px;
}

.form__answer {
	height: 250px;

}

.form__answer.small {
	height: 127px;

}

.form__answer.wide input[type=text]{
	width: 90%;

}

.font1 label{
	color: white;
	padding: 20px;
	transition: all .2s ease-in-out;
	position: relative;

}

.font1 {
	padding:0px;

}

.color1 label{
	background-color: #65119B;
	color: white;
	padding: 20px;
	transition: all .2s ease-in-out;
	position: relative;

}

.center{
	position: absolute;
    margin: auto;
    width: 50%;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
}

.color1 {
	padding:0px;

}



label {
	height: 100%;
	width: 100%;
	padding: 10px 10px 30px 10px;
	margin: 0px;
	cursor: pointer;



}
label:hover{

	color: white;
	background-color: black;
	} 


label:focus{
	background-color: black;
	color: white;

	} 

label:active {
	background-color: black;
	color: white;


}




/* Input style */

input[type="radio"] {
	opacity: 0;
	width: 0;
  height: 0;
}

input[type="radio"]:active ~ label {
  opacity: 1;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
	/*border: 1px solid white;*/
	background-color: black;
	transition: all .5s ease-in-out;
	color: white;

}

input[type=text] {
	display: block;
	border: 1px solid white;
	padding: 10px;
	margin-top: 10px;
	width: 90%;
	transition: all .5s ease-in-out;
	color: white;
}

input[type=text]:focus {
background-color: white;
color: black;
}

input[type=text]:visited {
color: white;
}

textarea {
	display: block;
	border: 1px solid white;
	padding: 10px;
	margin-top: 10px;
	width: 90%;
	height: 127px;
}


#animatedModal {
	text-align: center;
	padding-top: 10%;

}

#animatedModal2 {
	text-align: center;
	padding-top: 10%;

}

.modal-content {
	color: white;
	font-size: 35px;
	line-height: 1.5em;
	padding: 50px;
}

.modal-content a {
	color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
    transition: all .2s ease-in-out;
}

.modal-content .icons a{
    border-bottom: none;
    margin-right: 20px;

}

.modal-content .icons a:hover{
    border-bottom: none;

}

.modal-content a:hover {
	color: #4C4C4C;
	border-bottom: 1px solid #2637DE;

    
}

.results-black {
	background-color: black;
	padding-top: 2%;
}


#js-flyer {
	background-color: black;
	margin:0px;
    height:100vh;
    width:100%;
    float:left;
    padding-top: 8%;
    visibility: none;
}

.flyer-box {
	height: 487px;
	width: 320px;
	text-align: center;
	word-wrap:break-word;
	position: relative;
	color: var(--color2);
	background-color: var(--color1);
	margin-left: 10%;
}

.flyer-box h1 {
	text-align: center;
    font-size: 210%;
    margin: 0px;
    font-family: var(--font1);

}

.flyer-box h1:nth-of-type(2) {
	font-family: var(--font2);
	font-weight: light;
}

.flyer-box h1:nth-of-type(3) {
	font-weight: light;
}

.flyer-box h2 {
    font-family: var(--font2);


}

.flyer-bottom {
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
/*    -webkit-transform: translate(-50%,-50%);*/
	bottom: 5%;
	font-size: 40%;
}

.flyer-top {
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
/*    -webkit-transform: translate(-50%,-50%);*/
	top: 5%;
	font-size: 40%;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.circle {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 15%;
  height: 5%;
  border-radius: 50%;
  font-size: 50%;
  line-height: 500px;
  text-align: center;
  border: 1px solid var(--color2);
  line-height: 1.6;
}

#flyer-center {
	padding-top: 50%;
	line-height: 1.2;
}

#last {
	text-align: center;
    padding-top: calc(487px - 35%);
    margin-left: 80px;
}

#last .restart-button {
	margin-top: 40px;
	margin-bottom: 40px;
}

#last a {
	margin-top: 40px;
	color: white;
    text-decoration: none;
    padding-bottom: 6px;
    transition: all .2s ease-in-out;
    font-size: 35px;
    margin-right: 20px;
}

#last a:hover {
	color: #4C4C4C;

}

/*#last button {
	margin-bottom: 40px;
}*/

